#
# Architecture select
#
CONFIG_ARM=y
#
# ARM architecture
#
CONFIG_SYS_ICACHE_OFF=y
CONFIG_SYS_DCACHE_OFF=y
CONFIG_ARCH_STM32=y
CONFIG_STM32F4=y
CONFIG_TARGET_STM32F429_DISCOVERY=y
CONFIG_BOARD_EARLY_INIT_F=y
#
# General setup
#
CONFIG_ENV_VARS_UBOOT_CONFIG=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0x10010000
CONFIG_SYS_MALLOC_LEN=0x02000
CONFIG_SYS_LOAD_ADDR=0x90400000
CONFIG_TEXT_BASE=0x08000000
CONFIG_HAS_CUSTOM_SYS_INIT_SP_ADDR=y
CONFIG_CC_OPTIMIZE_FOR_DEBUG=y
#
# Boot options
#
CONFIG_BOOTDELAY=3
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="console=ttyS0,115200 earlyprintk consoleblank=0 ignore_loglevel"
# 
# Console 
#
CONFIG_SYS_PBSIZE=1050
CONFIG_HUSH_PARSER=y
#
# Init options
#
# CONFIG_DISPLAY_CPUINFO is not set
# CONFIG_DISPLAY_BOARDINFO is not set
CONFIG_MISC_INIT_R=y
#
# Command line interface
#
CONFIG_SYS_PROMPT="U-Boot > "
CONFIG_CMD_IMLS=y
# CONFIG_CMD_SETEXPR is not set
CONFIG_CMD_TIMER=y
#
# Device Tree Control 
#
CONFIG_DEFAULT_DEVICE_TREE="stm32f429-disco"
CONFIG_OF_CONTROL=y
#
# Environment
#
CONFIG_ENV_SIZE=0x2000
CONFIG_ENV_SECT_SIZE=0x20000
CONFIG_ENV_ADDR=0x8040000
CONFIG_ENV_IS_IN_FLASH=y
#
# Networking
#
CONFIG_NO_NET=y
#
#  Device Drivers
#
# CONFIG_MMC is not set
CONFIG_MTD=y
CONFIG_MTD_NOR_FLASH=y
CONFIG_STM32_FLASH=y
CONFIG_SYS_MAX_FLASH_SECT=12
CONFIG_SYS_MAX_FLASH_BANKS=2